keras==2.6.0
keras_unet_collection==0.1.13
matplotlib==3.5.0
numpy==1.21.6
opencv_python==4.5.4.60
opencv_python_headless==4.5.2.52
Pillow==9.5.0
PyYAML==6.0
rasterio==1.1.1
scikit_learn==1.0.1
scipy==1.7.2
segmentation_models==1.0.1
setuptools==63.1.0
tensorflow==2.6.0
tensorflow_addons==0.16.1
tqdm==4.62.3
typing_extensions==4.6.3
validators==0.18.2
